* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    /* background-image: url("./img;bg.jpg"); */
    /* background-size: cover; */
    background-color: black;
    color: white;
}

.main {
    height: 785px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 0;
}

.background {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-img {
    z-index: 0;
    position: relative;
}

.main-child {
    position: absolute;
    display: grid;
    justify-items: center;
}


/*Aqui na h1, caso feche o colchete, o plano de fundo fica pretoI*/

.main h1 {
    font-size: 64px;
    max-width: 510px;
}

.main span {
    font-size: 26px;
}

.form-cta {
    display: grid;
    grid-template-columns: 500px 250px;
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
}

.form-cta input {
    padding: 29;

}

.main p {
    font-size: 19px;
}

.gradient {
    background: rgba(0, 0, 0.4);
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .8) 100%);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}